# Kaggle Data

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('cardio_alco.csv')
df1 = pd.read_csv('cardio_base.csv')
df2 = pd.read_csv('covid_data.csv')

In [12]:
print(df1)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0          0  18393       2     168    62.0    110     80            1      0
1          1  20228       1     156    85.0    140     90            3      0
2          2  18857       1     165    64.0    130     70            3      0
3          3  17623       2     169    82.0    150    100            1      0
4          4  17474       1     156    56.0    100     60            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

[70000 rows x 9 columns]

In [13]:
df1.age = (df1['age']/365).astype(int)

In [16]:
df1.set_index('id', inplace=True)

In [17]:
print(df1)

       age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
id
0       50       2     168    62.0    110     80            1      0
1       55       1     156    85.0    140     90            3      0
2       51       1     165    64.0    130     70            3      0
3       48       2     169    82.0    150    100            1      0
4       47       1     156    56.0    100     60            1      0
...    ...     ...     ...     ...    ...    ...          ...    ...
99993   52       2     168    76.0    120     80            1      1
99995   61       1     158   126.0    140     90            2      0
99996   52       2     183   105.0    180     90            3      0
99998   61       1     163    72.0    135     80            1      0
99999   56       1     170    72.0    120     80            2      0

[70000 rows x 8 columns]

In [9]:
df1[df1['height']==df1['height'].max()]

        id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
6486  9223  21220       1     250    86.0    140    100            3      0